body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.auth-wrapper {
  width: 100%;
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
}

.container3 {
  background: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  text-decoration: none;
}

.container3 h2 {
  text-align: center;
}

.container3 form {
  display: flex;
  flex-direction: column;
}

.container3 input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.container3 button {
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container3 button:hover {
  background: #0056b3;
}

.center-text {
  text-align: center;
}

.admin-link a {
  color: rgb(149, 33, 33);
}
